extends layout.pug
include mixins/mixin_publication.pug

block content

 -
  const publications = [
    {
      "_id": "5d681f5b3264ae32060d308e",
      "year": 2020,
      "month": "mai",
      "title": "Title test",
      "authors": [
        "Author test",
        "Author test 2"
      ], 
      "venue": "Venue test"
    },
    {
      "_id": "5d67d442a5c77bebf633a11f",
      "year": 2018,
      "month": "juin",
      "authors": [
        "Leonard Bourgoin",
        "Alphonsine Beauchamps",
        "Michel Deslauriers"
      ],
      "title": "LAMA: a language adaptive method for question answering",
      "venue": "Scalable Question Answering over Linked Data Challenge (SQA2018), Heraklion, Greece"
    },
    {
      "_id": "5d67d442a5c77bebf633a11c",
      "year": 2018,
      "month": "mai",
      "authors": [
        "Simoneau Fleurilius",
        "Alphonsine Beauchamps",
        "Michel Deslauriers",
        "Michel Jean"
      ],
      "title": "A Machine Learning Filter for the Slot Filling Task",
      "venue": "Information 2018, 9(6), 133"
    },
    {
      "_id": "5d67d442a5c77bebf633a11d",
      "year": 2018,
      "month": "janvier",
      "authors": [
        "Patrick Anderson",
        "Michel Deslauriers",
        "Alphonsine Beauchamps"
      ],
      "title": "FICLONE: Improving DBpedia Spotlight Using Named Entity Recognition and Collective Disambiguation",
      "venue": "Open Journal of Semantic Web (OJSW) 5.1 (2018): 12-28."
    },
    {
      "_id": "5d67d442a5c77bebf633a120",
      "year": 2017,
      "month": "novembre",
      "authors": [
        "Alphonsine Beauchamps",
        "Michel Deslauriers",
        "Michel Jean"
      ],
      "title": "An assessment of open relation extraction systems for the semantic web",
      "venue": "Information Systems, Volume 71, p. 228-239"
    },
    {
      "_id": "5d67d442a5c77bebf633a122",
      "year": 2017,
      "month": "octobre",
      "authors": [
        "Leonard Bourgoin",
        "Michel Deslauriers",
        "Alphonsine Beauchamps"
      ],
      "title": "AMAL: Answering French Natural Language Questions using DBpedia",
      "venue": "ESWC 2017 Semantic Web Challenges, Springer"
    },
    {
      "_id": "5d67d442a5c77bebf633a123",
      "year": 2017,
      "month": "janvier",
      "authors": [
        "Christophe Deniger",
        "Alphonsine Beauchamps",
        "Michel Deslauriers"
      ],
      "title": "Assessing and Improving Domain Knowledge Representation in DBpedia",
      "venue": "Open Journal of Semantic Web (OJSW), 4(1) : p. 1-19"
    },
    {
      "_id": "5d67d442a5c77bebf633a121",
      "year": 2017,
      "authors": [
        "Leonard Bourgoin",
        "Michel Deslauriers",
        "Alphonsine Beauchamps"
      ],
      "title": "Answering Natural Language Questions on RDF Knowledge base in French",
      "venue": "Question Answering over Linked Data Challenge. (1st place of QALD 2017 – Question answering in French)"
    },
    {
      "_id": "5d67d442a5c77bebf633a125",
      "year": 2016,
      "month": "juillet",
      "authors": [
        "Joey Gelinas",
        "Alphonsine Beauchamps",
        "Michel Deslauriers"
      ],
      "title": "Automatic Extraction of Axioms from Wikipedia Using SPARQL",
      "venue": "ESWC-16 Open Knowledge Extraction Challenge, Heraklion, Greece"
    }
  ]
  
  
 section
    h1= 'Publications'
    button Ajouter une publication
    h2 Création une publication
    form(method='POST')
      div
        Label Année:
        select(name="date" size=1)
          option='2010'
          option='2011'
          option='2012'
          option='2013'
          option='2014'
          option='2015'
          option='2016'
          option='2017'
          option='2018'
          option='2019'
          option='2020'
          option='2021'
      div
        Label Mois:
        select(name="date" size=1)
          option='Janvier'
          option='Février'
          option='Mars'
          option='Avril'
          option='Mai'
          option='Juin'
          option='Juillet'
          option= 'Août'
          option='Septembre'
          option= 'Octobre'
          option='Novembre'
          option='Décembre'

      div
        Label Titre:
        input(type='text', name='title', value='Titre test')
      div
        Label Auteur:
        input(type='text', name='Auteur', value='Auteur test')
      div
        Label Conférence:
        input(type='text', name='Conférence' Value='Venue test')
      Button(type='submit') Créer

    p= 'Sorted by:'
      select(name="date" size=1)
        option= 'date'
    p= 'Order by:'
      select(name="descending" size=1)
        option= 'descending'
      +publication(publications)
    div
      table
        tr
          td
            a(href='#')= '<<'
          td
            p= '1'
          td
            p='2'
          td
            p='3'
          td
            a(href='#')='>>'
      p
        ='Afficher'
        select(size=1)
          option='10'
        ='résultats par page'  
  
